body {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  overflow-y: auto;
}

.menu-content {
  overflow-x: hidden;
}

#urlsTextarea, #builderUrlsTextarea {
  min-height: 250px;
  min-width: 335px;
  width: 100%;
  resize: none;
  white-space: pre;
  overflow-wrap: normal;
  overflow-y: auto;
}

.menu-item:hover,
.menu-item.back-item:hover {
  background-color: #cff2f2;
}

.back-item {
  background-color: #eef0f0;
}

.menu-item {
  min-width: 25rem;
  padding: 0.75rem 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  text-align: left;
  cursor: pointer;
}

.menu-item > i {
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-left: 6px solid #000000;
  float: right;
  margin: 0.5rem 0rem 0.5rem 1rem;
}

.back-item.menu-item > i {
  border-left: none;
  border-right: 6px solid #000000;
  float: left;
  margin: 0.4rem 1.4rem 0.4rem 0rem;
}

#create-from-urls, #create-from-builder {
  background-color: #296969;
  color: white;
  text-align: center;
}

#create-from-urls:hover, #create-from-builder:hover {
  opacity: 0.9;
}
